# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
media

# IDE (VS Code)
.vscode/

# Arquivos de implementação
lista_tarefas_implementacao.md
*_sistema/